svg {
  background: #eee;
  overflow: visible;
  display: block;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  padding: 0 50px;
}

button {
  width: 100px;
  border: 1px solid black;
  margin: 0 auto 5px;
}
